<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Angular 4 Demo</a>
        </div>
        <ul class="nav navbar-nav">
            <li [class.active]="router.url == '/'">
                <a href="/">Home</a>
            </li>
            <li [class.active]="router.url == '/binding'">
                <a href="binding">Data-Binding</a>
            </li>
            <li [class.active]="router.url == '/components'">
                <a href="components">Components</a>
            </li>
            <li [class.active]="router.url == '/ioc'">
                <a href="ioc">IOC</a>
            </li>
            <li [class.active]="router.url == '/routing'">
                <a href="routing">Routing</a>
            </li>
            <li [class.active]="router.url == '/observable'">
                <a href="observables">Observables</a>
            </li>
            <li [class.active]="router.url == '/testing'">
                <a href="testing">Testing</a>
            </li>
            <li [class.active]="router.url == '/cli'">
                <a href="cli">CLI</a>
            </li>
            <li [class.active]="router.url == '/project-setup'">
                <a href="project-setup">Setup</a>
            </li>
            <li [class.active]="router.url == '/vscode'">
                <a href="vscode">VS Code</a>
            </li>
            <li [class.active]="router.url == '/typescript'">
                <a href="typescript">Typescript</a>
            </li>
            <li [class.active]="router.url == '/deployments'">
                <a href="deployment">Deployment</a>
            </li>
            <li [class.active]="router.url == '/links'">
                <a href="links">Useful links</a>
            </li>

        </ul>
    </div>
</nav>
<div class="container">

    <router-outlet></router-outlet>
</div>