Test
<input [(ngModel)]='username'>

<p>Hello {{username}}!</p>

<h3>Excel Demo</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <td>Name</td>
      <td>Clean</td>
      <td>Adjustment</td>
      <td>Final</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let point of dataPoints">
      <td>{{point.name}}</td>
      <td>{{point.value}}</td>
      <td>
        <input class="adjustment" [(ngModel)]="point.adjustment" type="number">
      </td>
      <td>{{point.value + point.adjustment}}</td>
    </tr>
  </tbody>
</table>


<h3>Search/Filtering</h3>

<h3>Pipes</h3>